
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Authorize Failed";
}

<h2>Authorize Failed</h2>

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>401</h1>
            <h3>Unauthorized</h3>
            <p>You are not authorised to access this page.</p>
        </div>
    </div>
</div>