
@{
    ViewData["Title"] = "News Content";
}

<h2>News Content</h2>

<div class="row mt-3">
    <div class="col-md-6 col-12 mb-3">
        <h5>News Article 1</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et felis nisl. Ut venenatis laoreet condimentum. Integer elementum purus at ipsum auctor, porttitor tempor diam pharetra. Nullam eu nunc felis. Sed imperdiet et lorem nec tincidunt. Nunc hendrerit fringilla leo, nec tincidunt leo tristique in. Pellentesque eget maximus massa. Duis a tellus augue. Sed ac sem nunc. Nunc volutpat, diam id vestibulum feugiat, nisi erat semper diam, eget lacinia nibh leo ut dui. Sed ut metus in mi dictum egestas.
        </p>
        <p><a href="#">Read More...</a></p>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <h5>News Article 2</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et felis nisl. Ut venenatis laoreet condimentum. Integer elementum purus at ipsum auctor, porttitor tempor diam pharetra. Nullam eu nunc felis. Sed imperdiet et lorem nec tincidunt. Nunc hendrerit fringilla leo, nec tincidunt leo tristique in. Pellentesque eget maximus massa. Duis a tellus augue. Sed ac sem nunc. Nunc volutpat, diam id vestibulum feugiat, nisi erat semper diam, eget lacinia nibh leo ut dui. Sed ut metus in mi dictum egestas.
        </p>
        <p><a href="#">Read More...</a></p>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <h5>News Article 3</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et felis nisl. Ut venenatis laoreet condimentum. Integer elementum purus at ipsum auctor, porttitor tempor diam pharetra. Nullam eu nunc felis. Sed imperdiet et lorem nec tincidunt. Nunc hendrerit fringilla leo, nec tincidunt leo tristique in. Pellentesque eget maximus massa. Duis a tellus augue. Sed ac sem nunc. Nunc volutpat, diam id vestibulum feugiat, nisi erat semper diam, eget lacinia nibh leo ut dui. Sed ut metus in mi dictum egestas.
        </p>
        <p><a href="#">Read More...</a></p>
    </div>
    <div class="col-md-6 col-12 mb-3">
        <h5>News Article 4</h5>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et felis nisl. Ut venenatis laoreet condimentum. Integer elementum purus at ipsum auctor, porttitor tempor diam pharetra. Nullam eu nunc felis. Sed imperdiet et lorem nec tincidunt. Nunc hendrerit fringilla leo, nec tincidunt leo tristique in. Pellentesque eget maximus massa. Duis a tellus augue. Sed ac sem nunc. Nunc volutpat, diam id vestibulum feugiat, nisi erat semper diam, eget lacinia nibh leo ut dui. Sed ut metus in mi dictum egestas.
        </p>
        <p><a href="#">Read More...</a></p>
    </div>
</div>
